/* General styles */
body {
    margin: 0;
    color: white;
  }
  
  .main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header h1 {
    color: orange;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .content h1 {
    font-size: 3rem;
    margin: 20px 0;
    text-align: center;
  }
  
  .highlight {
    color: blue;
  }
  
  .cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 200px;
  }
  
  .card img {
    max-width: 100%;
    height: 50%;
  }

  footer {
    text-align: center;
    bottom: 0;
  }

  .card {
    max-width: 50%;
    display: flex;
    padding: 15px;
    text-align: center;
    gap: 10px;
  }
  
    .h1s {
        width: 100%;
    }

  @media (max-width: 1200px) {
    .cards {
    flex-direction: column;
    }
  
    .card {
      max-width: 100%;
      flex-direction: column;
    }
  
  }
  
